@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Noto+Sans+JP&family=Red+Hat+Display:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&family=Montserrat:wght@300;500&display=swap');

* {
	font-family: "Montserrat" !important;
}

button, #ingredient-list span {
	border-radius: 10px;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	border: 0.67rem solid transparent;
	text-decoration: none;
	background-color:#50affdbe;
	transition: .7s ease-in-out 1s;
	font-weight:light;
}

.ingredient-button {
	background-color:transparent !important;
	font-size:12px;
	margin-bottom:-10px;
	height:15px;

}

.category {
	font-size:15px !important;
	font-weight:bold !important;
	color:black !important;
	transition:0.7s;
}

#pan-holder, #pot-holder {
	float:right;
	left:85%;
	position:absolute;
	text-align:center;
}

#pot-holder, #pan-holder {
	position:absolute;
}


#pan-details p, #pot-details p {
	text-align:center;
}

/*
#pan-details, #pot-details {
	opacity:0;
	transition: 0.3s;
}

#pan-images-holder:hover + #pan-details, #pan-details:hover {
	opacity:1;
	display:inline;
	
}*/

/*
#pan-holder img{
	transform:rotate(45deg);
}*/

#pan-contents{
	position:relative;
	transform: translate(-130%, -150%);
}

.rfl {
	float:right;
	left:75%;

}



#ingredient-list {
	border-radius:7px;
	position:relative;
	border-radius:7px;
	height:auto;
	display:flex;
	flex-direction:column;
	border-bottom: 0.67rem solid transparent;
	transition:0.7s;
}

.ingredient-columm {
	display:flex;
	flex-direction:column;
	border-bottom: 0.67rem solid transparent;
	background-color:rgba(181, 241, 241, 0.637);
	position:relative;
	border-radius:7px;
	height:auto;
	border-bottom: 0.67rem solid transparent;
}

#cooking-pan {
	transform:rotate(45deg);
}

.category-contents {
	display:flex;
	flex-direction:column;
	transition:0.7s;
}

#pan-contents{
	image-rendering: pixelated;
}

input, textarea {
	color:black;
	border-radius: 10px;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
	border: 0.67rem solid transparent;
	background-color:#50affdbe;
	outline:none;
	vertical-align: top;
	
}



#food-input, #ingredient-input {
	margin-right:10px;
}

::placeholder {
	color:black;
	opacity:1;
}

.row {
	display:flex;
	flex-direction:row;
	position:absolute;
}

#ingredient-list span {
	color:rgba(31, 30, 30, 0.685);
}

button:hover,  #ingredient-list span:hover{
	cursor:pointer !important;
}

#ingredient-storage:hover {
	cursor:pointer;
}

#meal-maker {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}

#meal-contents-image-holder {
	display:flex;
	flex-direction:row;
	position:relative;
	top:-69px;
	left:10px;
}

#pot-toggle, #pan-toggle {
	cursor:pointer;
}
/*
img {
	image-rendering: pixelated;
}*/